.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.card {
  flex: 0 0 23.333333%;
  background: #dedede;
  margin: 5%;
  text-align: left;
}

.card h6 {
   font-size: 1.5rem;
   margin: 0;
   padding: 5px;
   background: #333333;
   color: #ffffff;
   font-weight: 100;
}

.card p {
  padding: 5px;
  background: #000000;
  margin: 0;
  color:#ffffff;
}

.imagen {
  text-align: center;
}

.imagen img {
  width: 100%;
}

.iconos {
  padding: 10px;
  display: flex;
  margin: 0;
}

.iconos .lnr {
  background: #ff0000;
  color: #ffffff;
  padding: 10px;
  margin: 10px 5px;
  display: block;
  width: 20%;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
